body {
	margin: 0px;
}

.background {
	background: #222831;
	background-image: linear-gradient(to bottom left, #222831, 95%, #DDDDDD);
	margin: 0px;
}

.moba {
	display: flex;
	margin-left: 20px;
	margin-right: 20px;
	flex-flow: row;
	padding-top: 30px;
	padding-left: 10em;
	padding-right: 10em;
}

.nav-bar {
	padding-right: auto;
	width: 140px;
}

.hamnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	color:aqua;
}

.navi {
	display: flex;
	width: 70px;
	background: white;
	margin: 5px;
	padding: 10px;
	color:#F05454;
}

.main {
	padding-left: 5px;
	padding-right: 5px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}

.banner {
	width: 100%;
	height: auto;
}

.content {

}

.card {
	background-color: #DDDDDD;
	border-radius: 10px;
	color: #F05454;
	width: auto;
	padding: 10px;
	font-family: 'Hind Siliguri', monospace;
}